body {
	background-color: white;
}
h1, h2, h3 {
	padding-left: 12px;
}
#year_results {
	border-collapse: collapse;
}
#year_results th, #year_results td {
	border: 1px solid #ddd;
	padding: 8px;
	color: black;
}
#year_results th {
	text-align: left;
	background-color: #4CAF50;
	padding-top: 12px;
	padding-bottom: 12px;
	color: black;
}
#year_results tr:hover {background-color: #ddd;}
