{% extends "base.html" %}
{% block title %}League History{% endblock %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/leagueHistory.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif; color: black}
</style>
<body>
	<h1>League History</h1>
	<table id="league_history" width=100%>
		<tr id="top_header"><th></th><th colspan="3">Total</th><th colspan="3">Regular Season</th><th colspan="3">Playoffs</th><th colspan="8"></th></tr>
		<tr><th>Player</th><th onclick="sortTableInt(1)">W</th><th onclick="sortTableInt(2)">L</th><th onclick="sortTablePercent(3)">PCT</th><th onclick="sortTableInt(4)">W</th><th onclick="sortTableInt(5)">L</th><th onclick="sortTablePercent(6)">PCT</th><th onclick="sortTableInt(7)">W</th><th onclick="sortTableInt(8)">L</th><th onclick="sortTablePercent(9)">PCT</th><th onclick="sortTableInt(10)">Points For</th><th onclick="sortTableInt(11)">PPG</th><th onclick="sortTableInt(12)">Points Against</th><th onclick="sortTableInt(13)">PAPG</th><th onclick="sortTableInt(14)">Seasons</th><th onclick="sortTableInt(15)">Best Week</th><th onclick="sortTableInt(16)">Worst Week</th><th>Titles</th></tr>
		{% for team in league_history %}
		<tr>
			<td>{{team.user}}</td>
			<td>{{team.reg_season_wins + team.playoff_wins}}</td>
			<td>{{team.reg_season_loses + team.playoff_loses}}</td>
			<td>{% if (team.reg_season_loses + team.playoff_loses) <= 0 %}N/A{%else%}{{(((team.reg_season_wins + team.playoff_wins)/(team.reg_season_loses + team.playoff_loses + team.reg_season_wins + team.playoff_wins))*100)|round(1)}}%{%endif%}</td>
			<td>{{team.reg_season_wins}}</td>
			<td>{{team.reg_season_loses}}</td>
			<td>{% if team.reg_season_loses <= 0 %}N/A{%else%}{{((team.reg_season_wins/(team.reg_season_loses + team.reg_season_wins))*100)|round(1)}}%{%endif%}</td>
			<td>{{team.playoff_wins}}</td>
			<td>{{team.playoff_loses}}</td>
			<td>{% if team.playoff_loses <= 0 %}N/A{%else%}{{((team.playoff_wins/(team.playoff_loses + team.playoff_wins))*100)|round(1)}}%{%endif%}</td>
			<td>{{team.points_for|round(1)}}</td>
			<td>{% if (team.reg_season_loses + team.playoff_loses) <= 0 %}N/A{%else%}{{(team.points_for/(team.reg_season_loses + team.playoff_loses + team.reg_season_wins + team.playoff_wins + team.con_wins + team.con_loses))|round(1)}}{%endif%}</td>
			<td>{{team.points_against|round(1)}}</td>
			<td>{% if (team.reg_season_loses + team.playoff_loses) <= 0 %}N/A{%else%}{{(team.points_against/(team.reg_season_loses + team.playoff_loses + team.reg_season_wins + team.playoff_wins + team.con_wins + team.con_loses))|round(1)}}{%endif%}</td>
			<td>{{team.seasons}}</td>
			<td>{{team.best_week}}</td>
			<td>{{team.worst_week}}</td>
			<td>{%if team.titles == []%}{%else%}{{team.titles}}{%endif%}</td>
		</tr>
		{% endfor %}
	</table>

<script>
function sortTableInt(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("league_history");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "desc"; 
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 2; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
	  x_int = +x.innerHTML*10
	  y_int = +y.innerHTML*10
      if (dir == "asc") {
        if (x_int > y_int) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x_int < y_int) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++; 
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
function sortTableWords(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("league_history");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc"; 
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 2; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (+x.innerHTML > +y.innerHTML) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (+x.innerHTML < +y.innerHTML) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++; 
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
function sortTablePercent(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("league_history");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "desc"; 
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 2; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
	  x_int = x.innerHTML.replace('%','')*10; //Multiply by one to convert to int
	  y_int = y.innerHTML.replace('%','')*10;
	  if(!Number.isInteger(x_int)){
	      x_int = 0;
	  }
	  if(!Number.isInteger(y_int)){
		  y_int = 0;
      }
      if (dir == "asc") {
        if (x_int > y_int) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x_int < y_int) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++; 
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

</script>

</body>
{% endblock %}

