{% block body %}
<!DOCTYPE html>
<html>
<title>Show Matchups</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
</style>
<body>
<div>
	<table style="width:100%">
		<tr><th>Home Team</th><th>Away Team</th><th>Home Score</th><th>Away Score</th></tr>
		{% for matchup in matchups %}
		<tr><th>{{matchup.team_one}}</th><th>{{matchup.team_two}}</th><th>{{matchup.team_one_score}}</th><th>{{matchup.team_two_score}}</th></tr>
		{% endfor %}
	</table>
</div>
</body>
{% endblock %}
