{% extends "base.html" %}
{% block title %}Year History{% endblock %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/leagueHistory.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif; color: black}
</style>
<body>
	<h1>Year Summary: {{year}}</h1>
	<table id="league_history" width=100%>
		<tr id="top_header"><th></th><th colspan="3">Total</th><th colspan="3">Regular Season</th><th colspan="3">Playoffs</th><th colspan="7"></th></tr>
		<tr><th>Player</th><th onclick="sortTableInt(1)">W</th><th onclick="sortTableInt(2)">L</th><th onclick="sortTablePercent(3)">PCT</th><th onclick="sortTableInt(4)">W</th><th onclick="sortTableInt(5)">L</th><th onclick="sortTablePercent(6)">PCT</th><th onclick="sortTableInt(7)">W</th><th onclick="sortTableInt(8)">L</th><th onclick="sortTablePercent(9)">PCT</th><th onclick="sortTableInt(10)">Points For</th><th onclick="sortTableInt(11)">PPG</th><th onclick="sortTableInt(12)">Points Against</th><th onclick="sortTableInt(13)">PAPG</th><th onclick="sortTableInt(14)">Best Week</th><th onclick="sortTableInt(15)">Worst Week</th><th>Won Tile?</th></tr>
		{% for team in year_summary %}
		<tr>
			<td>{{team.user}}</td>
			<td>{{team.reg_season_wins + team.playoff_wins}}</td>
			<td>{{team.reg_season_loses + team.playoff_loses}}</td>
			<td>{% if (team.reg_season_loses + team.playoff_loses) <= 0 %}N/A{%else%}{{(((team.reg_season_wins + team.playoff_wins)/(team.reg_season_loses + team.playoff_loses + team.reg_season_wins + team.playoff_wins))*100)|round(1)}}%{%endif%}</td>
			<td>{{team.reg_season_wins}}</td>
			<td>{{team.reg_season_loses}}</td>
			<td>{% if team.reg_season_loses <= 0 %}N/A{%else%}{{((team.reg_season_wins/(team.reg_season_loses + team.reg_season_wins))*100)|round(1)}}%{%endif%}</td>
			<td>{{team.playoff_wins}}</td>
			<td>{{team.playoff_loses}}</td>
			<td>{% if team.playoff_loses <= 0 %}N/A{%else%}{{((team.playoff_wins/(team.playoff_loses + team.playoff_wins))*100)|round(1)}}%{%endif%}</td>
			<td>{{team.points_for|round(1)}}</td>
			<td>{% if (team.reg_season_loses + team.playoff_loses) <= 0 %}N/A{%else%}{{(team.points_for/(team.reg_season_loses + team.playoff_loses + team.reg_season_wins + team.playoff_wins + team.con_wins + team.con_loses))|round(1)}}{%endif%}</td>
			<td>{{team.points_against|round(1)}}</td>
			<td>{% if (team.reg_season_loses + team.playoff_loses) <= 0 %}N/A{%else%}{{(team.points_against/(team.reg_season_loses + team.playoff_loses + team.reg_season_wins + team.playoff_wins + team.con_wins + team.con_loses))|round(1)}}{%endif%}</td>
			<td>{{team.best_week}}</td>
			<td>{{team.worst_week}}</td>
			<td>{%if team.won_title == False%}{%else%}Won title{%endif%}</td>
		</tr>
		{% endfor %}
	</table>
<script src="{{url_for('static',filename='scripts/sortTables.js')}}"></script>
</body>
{% endblock %}

